.box1 {
    text-align: center;
    padding: 0.5em 1em;
    margin: 2em 15em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box1 p {
    margin: 0; 
    padding: 0;
}
h1 {
    background-color: rgb(163, 182, 223);
    margin: 0 2em;
}
ul {
    margin: 0 15em;
}