<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iteatter</title>
</head>

<body>
    <header>
        <a href="/">
            <h1>Iteatter</h1>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/post">投稿する</a>
                </li>
                <li>
                    <a href="/posts">投稿を見る</a>
                </li>
            </ul>
        </nav>
    </header>

    {{template "content" .}}

    <footer>
        <p>このアプリケーションは技育CAMP2021/vol2で作成しました</p>
    </footer>

</body>

</html>
<!-- 
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
</head>

</html> -->
